In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import numpy as np
import seaborn as sns
from sklearn import metrics, datasets, cluster
from pandas import DataFrame
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from itertools import cycle, islice
from pandas.plotting import parallel_coordinates
from sklearn.preprocessing import LabelEncoder

In [3]:
df1=pd.read_excel('ABBREV.xlsx')

In [4]:
print(df1.shape)

(8790, 53)

# Example Flow & Explanation

In [ ]:
#Let's say this is the user's input in our super-admin page
x0 = 'Champorado'
x01 = '8790'
x1 = '4.56'
x2 = '394'
x3 = '10.99'
x4 = '6.36'
x5 = '4.60'
x6 = '73.48'

In [ ]:
#Let's limit only our columns first since our input conists of 6 only
example_df = df1[['NDB_No','Water_(g)',
'Energ_Kcal','Protein_(g)','Lipid_Tot_(g)',
'Ash_(g)','Carbohydrt_(g)']]
example_df.tail()
#our input will be added in our dataframe inside of these 
# columns presented below

In [ ]:
#we will now add our input to the dataframe
new = ['0',x1,x2,x3,x4,x5,x6]
new2 = ['0',x0,x1,x2,x3,x4,x5,x6]

df1 = df1.append(pd.Series(new2, index=df1.columns[:len(new2)]), 
ignore_index=True)
example_df = example_df.append(pd.Series(new, 
index=example_df.columns[:len(new)]), ignore_index=True)
#our input is now added to our original dataframe 
# and to what dataframe we are using
#you might be wondering about 2 variables and 2 appends, 
# df1 is our original DF and example_df is what we are currently using
#we added the input in our original DF because what we just want 
# to see here is what cluster will this food be included
print(example_df.shape)
print(df1.shape)

In [ ]:
example_df = example_df.fillna(0) 
#we will all the NaN or null values inside our 
#dataframe if the input consists of null data it will now be 0
example_df.isnull().sum() 
#check if there is still NaN in our DF

In [ ]:
ex = StandardScaler().fit_transform(example_df)
ex

In [ ]:
kmeans = KMeans(n_clusters=4) 

# fit kmeans object to data
kmeans.fit(ex)

In [ ]:
y_predicted = kmeans.fit_predict(example_df)
print(y_predicted)

In [ ]:
example_df['cluster']=y_predicted
example_df.head()

In [ ]:
#merge here
example_df = example_df[['NDB_No','cluster']]
example_df = pd.merge(df1, example_df)
example_df.tail()

# Finalization

In [104]:
class example_class:
    example_df = df1[['NDB_No','Water_(g)','Energ_Kcal',
    'Protein_(g)','Lipid_Tot_(g)','Ash_(g)','Carbohydrt_(g)']]

    max = int(example_df.iloc[-1]['NDB_No'])

    foodId = max+1
    food_name = input("Food name: ")
    data1 = input("Nutrient 1: ")
    data2 = input("Nutrient 2: ")
    data3 = input("Nutrient 3: ")
    data4 = input("Nutrient 4: ")
    data5 = input("Nutrient 5: ")
    data6 = input("Nutrient 6: ")

    users_inputdf1 = [foodId,food_name,data1,data2,data3,data4,data5,data6]
    users_inputex = [foodId,data1,data2,data3,data4,data5,data6]

    example_df = example_df.append(pd.Series(users_inputex, 
    index=example_df.columns[:len(users_inputex)]), ignore_index=True)
    df1 = df1.append(pd.Series(users_inputdf1, 
    index=df1.columns[:len(users_inputdf1)]), ignore_index=True)

    example_df = example_df.fillna(0)

    ex = StandardScaler().fit_transform(example_df)

    kmeans = KMeans(n_clusters=4)
    kmeans.fit(ex)
    KMeans(n_clusters=4)

    y_predict = kmeans.fit_predict(example_df)
    example_df['cluster'] = y_predict
    example_df1 = example_df[['NDB_No','cluster']]
    example_df2 = pd.merge(df1, example_df1)

    source = example_df2[example_df2['NDB_No'] == foodId]
    final_food_name = source.iloc[-1]['Shrt_Desc']
    cluster = source.iloc[-1]['cluster']
    final_foodId = source.iloc[-1]['NDB_No']

    print("Food name is",final_food_name,"with food id of",final_foodId,
    "and your cluster is in cluster",cluster)

Food name is sand with food id of 93601 and your cluster is in cluster 2

In [105]:
foodId = 1+1
food_name = input("Food name: ")
data1 = input("Nutrient 1: ")
data2 = input("Nutrient 2: ")
data3 = input("Nutrient 3: ")
data4 = input("Nutrient 4: ")
data5 = input("Nutrient 5: ")
data6 = input("Nutrient 6: ")

dict = {'NDB_No':[foodId],'Water_(g)':[data1],
'Energ_Kcal':[data2],'Protein_(g)':[data3],
'Lipid_Tot_(g)':[data4],'Ash_(g)':[data5],'Carbohydrt_(g)':[data6]}
data = [foodId,data1,data2,data3,data4,data5,data6]


example_class.example_df
#df = pd.DataFrame(dict)
#out = example_class.kmeans.fit_predict(df)
#out

,NDB_No,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),cluster
0,1001,15.87,717,0.85,81.11,2.11,0.06,3
1,1002,16.72,718,0.49,78.3,1.62,2.87,3
2,1003,0.24,876,0.28,99.48,0.0,0.0,3
3,1004,42.41,353,21.4,28.74,5.11,2.34,3
4,1005,41.11,371,23.24,29.68,3.18,2.79,3
...,...,...,...,...,...,...,...,...
8786,90240,70.25,111,20.54,0.84,2.97,5.41,2
8787,90480,26.0,269,0.0,0.0,0.86,73.14,2
8788,90560,79.2,90,16.1,1.4,1.3,2.0,2
8789,93600,78.5,89,19.8,0.5,1.2,0.0,2
8790,93601,2,3,4,5,6,5,2

In [77]:
import pickle


myobject = example_class()
pickle.dump(myobject, open('example.pkl','wb'))

In [75]:
import pickle

myobject = example_class()

pickled = pickle.dumps(myobject)
unpickled = pickle.loads(pickled)
#print(f"cluster of unpickled object:\n{unpickled.example_df.tail()}\n")
#unpickled.food_name = input("Enter")
example_df = unpickled.df1[['NDB_No','Water_(g)','Energ_Kcal',
'Protein_(g)','Lipid_Tot_(g)','Ash_(g)','Carbohydrt_(g)']]
df1 = unpickled.df1
max = int(example_df.iloc[-1]['NDB_No'])
unpickled.foodId = max+1
unpickled.food_name = input("Name")
unpickled.data1 = input("Enter")
unpickled.data2 = input("Enter")
unpickled.data3 = input("Enter")
unpickled.data4 = input("Enter")
unpickled.data5 = input("Enter")
unpickled.data6 = input("Enter")

unpickled.users_inputex = [unpickled.foodId,unpickled.food_name,unpickled.data1,unpickled.data2,unpickled.data3,
unpickled.data4,unpickled.data5,unpickled.data6]

unpickled.example_df = unpickled.example_df.append(pd.Series(unpickled.users_inputex, 
index=unpickled.example_df.columns[:len(unpickled.users_inputex)]), ignore_index=True)


unpickled.example_df.tail()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,cluster
8787,90480,"SYRUP,CANE",26.0,269,0.0,0.0,0.86,73.14,0.0,73.2,...,0.000,0.000,0.000,0.0,21.0,1 serving,NaN,NaN,0.0,1.0
8788,90560,"SNAIL,RAW",79.2,90,16.1,1.4,1.3,2.0,0.0,0.0,...,0.361,0.259,0.252,50.0,85.0,3 oz,NaN,NaN,0.0,1.0
8789,93600,"TURTLE,GREEN,RAW",78.5,89,19.8,0.5,1.2,0.0,0.0,0.0,...,0.127,0.088,0.170,50.0,85.0,3 oz,NaN,NaN,0.0,1.0
8790,93601,rer,2,3,2,3,2,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8791,93602,lev,2,3,2,3,2,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#print(example_df.tail())
#print(example_df.shape)
print(df1.shape)
df1.tail()

(8790, 53)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
8785,83110,"MACKEREL,SALTED",43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,7.8,7.148,8.320,6.210,95.0,80.0,"1 piece, (5-1/2"" x 1-1/2"" x 1/2"")",17.0,"1 cubic inch, boneless",0.0
8786,90240,"SCALLOP,(BAY&SEA),CKD,STMD",70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,0.0,0.218,0.082,0.222,41.0,85.0,3 oz,NaN,NaN,0.0
8787,90480,"SYRUP,CANE",26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.000,0.000,0.000,0.0,21.0,1 serving,NaN,NaN,0.0
8788,90560,"SNAIL,RAW",79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,0.1,0.361,0.259,0.252,50.0,85.0,3 oz,NaN,NaN,0.0
8789,93600,"TURTLE,GREEN,RAW",78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,0.1,0.127,0.088,0.170,50.0,85.0,3 oz,NaN,NaN,0.0

**Trial and error section**

In [ ]:
example = {'id':['10002','10003','10004'],
'value':['23232323232323', 'ggg', 'asdasdas']}
example = pd.DataFrame(example)

#data1 = int(input("Nutrient 1: "))
#data2 = input("Nutrient 1: ")

users_inputdf1 = [data1,data2]
example = example.append(pd.Series(users_inputdf1, 
index=example.columns[:len(users_inputdf1)]), ignore_index=True)

max = int(example.iloc[-1]['id'])
max = max+1
max

#max_id = 10002
##example['id'] = (max_id + 1, max_id + len(example)+1)

#example = pd.DataFrame(df1)
#x = (max_id + 1, max_id + len(example) + 1)

# Pre-processing and Evaluation

In [ ]:
original = pd.read_excel('ABBREV.xlsx')

In [ ]:
original.shape

In [ ]:
le = LabelEncoder()
original['GmWt_Desc2'] = le.fit_transform(original['GmWt_Desc2'])
original['GmWt_Desc1'] = le.fit_transform(original['GmWt_Desc1'])
#from string to integer

In [ ]:
original.columns

In [ ]:
feature = ['Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_mg)', 'Manganese_(mg)', 'Selenium_(µg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Panto_Acid_mg)',
       'Vit_B6_(mg)', 'Folate_Tot_(µg)', 'Folic_Acid_(µg)', 'Food_Folate_(µg)',
       'Folate_DFE_(µg)', 'Choline_Tot_ (mg)', 'Vit_B12_(µg)', 'Vit_A_IU',
       'Vit_A_RAE', 'Retinol_(µg)', 'Alpha_Carot_(µg)', 'Beta_Carot_(µg)',
       'Beta_Crypt_(µg)', 'Lycopene_(µg)', 'Lut+Zea_ (µg)', 'Vit_E_(mg)',
       'Vit_D_µg', 'Vit_D_IU', 'Vit_K_(µg)', 'FA_Sat_(g)', 'FA_Mono_(g)',
       'FA_Poly_(g)', 'Cholestrl_(mg)', 'GmWt_1', 'GmWt_Desc1', 'GmWt_2',
       'GmWt_Desc2', 'Refuse_Pct']

nutrientsDf = original[feature]

In [ ]:
nutrientsDf.isnull().sum()

In [ ]:
nutrientsDF = nutrientsDf.fillna(0)
nutrientsDF.isnull().sum()

In [ ]:
standardScaledX = StandardScaler().fit_transform(nutrientsDF)
standardScaledX

**Algorithm**

In [ ]:
kmeans = KMeans(n_clusters=4)
kmeans.fit(standardScaledX)

In [ ]:
centers = kmeans.cluster_centers_
centers

In [ ]:
y_predict = kmeans.fit_predict(nutrientsDF)
y_predict

In [ ]:
nutrientsDF['cluster'] = y_predict
nutrientsDF.head()

In [ ]:
no_of_clusters = [2,3,4,5,6,7,8,9,10]
for n_clusters in no_of_clusters:
   cluster = KMeans(n_clusters = n_clusters)
   cluster_labels = cluster.fit_predict(standardScaledX)
   silhouette_avg = silhouette_score(standardScaledX, cluster_labels)

   #print process
   print("Cluster number", n_clusters, 
          "Score", silhouette_avg)

In [ ]:
distortions = []
K = range(2,10)
for k in K:
    kmeanModel = KMeans(n_clusters=k)
    kmeanModel.fit(standardScaledX)
    distortions.append(kmeanModel.inertia_)

In [ ]:
plt.figure(figsize=(15,7))
plt.plot(K, distortions, 'bx-')
plt.xlabel('Cluster')
plt.ylabel('Inertia')
plt.title('Elbow Method')

In [ ]:
standardScaledX, y_predict = datasets.make_blobs(centers=centers, 
n_features=feature)
plt.scatter(standardScaledX[:,0], standardScaledX[:,1])
plt.scatter(centers[:,0],
            centers[:,1], s=500, color="red", marker="*")
plt.title("Centers: {} {} {}".format(
        centers[0], centers[1], centers[2], centers[3]))

In [ ]:
from sklearn import cluster
cl = cluster.KMeans(n_clusters=4)
cl.fit(standardScaledX)
plt.figure(figsize=(10,5))
plt.scatter(standardScaledX[:,0], standardScaledX[:,1], 
            c=cl.predict(standardScaledX))
plt.scatter(cl.cluster_centers_[:,0],
            cl.cluster_centers_[:,1], s=500, color="red", marker="*")
plt.title("Centers: {} {} {}".format(
        cl.cluster_centers_[0], cl.cluster_centers_[1], 
        cl.cluster_centers_[2], cl.cluster_centers_[3]))